header, footer, article, section, hgroup, nav, figure, aside {display: block;}
figure {
	margin:0;
	padding:0;
}
html {height:100%; overflow-x :hidden;}
body {
	margin:0;
	font:12px/15px "Ubuntu", "Lucida Grande", sans-serif;
	color:#8a8a8a;
	min-width:1000px;
	background:#fff;
	height:100%;
}
img {border-style:none;}
a {
	color:#8a8a8a;
	text-decoration:underline;
}
a:hover {text-decoration:none;}
input,
textarea,
select {
	font:100% arial,sans-serif;
	vertical-align:middle;
	color:#8a8a8a;
}
form,fieldset{
	margin:0;
	padding:0;
	border:none;
}
#wrapper {
	position:relative;
	min-height:100%;
	overflow:hidden;
	background:url(../images/bg-wrapper.png) repeat-y;
}
#content {
	float:left;
	width:100%;
}
#contents {
    height: 450px;
    margin-left: 25px;
    margin-top: 10px;
    overflow-y: scroll;
    width: 595px;
}
#ty {
    color: #000000;
    font-size: 14px;
}
.c1 {margin:0 0 0 152px; position: absolute; width:100%;}

.links {float:left;}
.links ul {
	list-style:none;
	margin:0;
	padding:0;
	float:left;
}
.links li {
	float:left;
	margin:0 3px 0 0;
	position:relative;
}
.links a {
	float:left;
	border:1px solid #dde2e8;
	background:#fff;
	-webkit-border-radius: 1px 1px 0 0;
	-moz-border-radius: 1px 1px 0 0;
	border-radius: 1px 1px 0 0;
	color:#1f252a;
	font-size:13px;
	line-height:15px;
	height:28px;
	text-decoration:none;
	padding:9px 19px 0 35px;
}
.links a:hover {text-decoration:underline;}
.links .num {
	position:absolute;
	right:-3px;
	top:-8px;
	color:#fff;
	font:bold 10px/18px Arial, Helvetica, sans-serif;
	width:20px;
	height:20px;
	background: #4c95cd;
	background: -moz-linear-gradient(top,  #4c95cd 0%, #3c78ba 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c95cd), color-stop(100%,#3c78ba));
	background: -webkit-linear-gradient(top,  #4c95cd 0%,#3c78ba 100%);
	background: -o-linear-gradient(top,  #4c95cd 0%,#3c78ba 100%);
	background: -ms-linear-gradient(top,  #4c95cd 0%,#3c78ba 100%);
	background: linear-gradient(to bottom,  #4c95cd 0%,#3c78ba 100%);
	text-align:center;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}




#sidebar {
    float: left;
    padding: 18px 1px 0;
    width: 150px;
}
#solgan {
    float: left;
    margin-left: -15px;
    padding-right: 10px;
    position: relative;
}
#launcher {
    border-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    padding-bottom: 5px;
    padding-right: 220px;
    padding-top: 5px;
    position: relative;
    cursor:pointer;
}

#launcher:hover {
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #8A8A8A;
    background-color: #FAFAFA ;
}
#launcher:active {
    border-color: #71AECD;
    background-color: #D1EFFF ;
}
#launcher h3 {
    float: right;
    margin-top: -46px;
    margin-left: 48px;
    position: absolute;
    color: #000000;
    display: block;
}
#launcher span {
    margin-left: 48px;
    margin-top: -30px;
    position: absolute;
}
#launcher img {
	opacity: 1;
}
#launcher:hover img {
	opacity: 0.8;
}
#sidebar .shadow {
	background:url(../images/bg-shadow.png) no-repeat;
	width:5px;
	height:9999px;
	overflow:hidden;
	text-indent:-9999px;
	position:absolute;
	left:72px;
	top:0;
}
.tabs {border-top:1px solid #fff;}
.tabs .text-section {
	background:#f9f9f9;
	padding:19px 0 8px 36px;
	margin:0 0 1px;
}
.tabs h1 {
	font-size:18px;
	line-height:20px;
	margin:0 0 8px;
	color:#2b333b;
}
.tabs p {margin:0 0 10px;}
.logo {
	background:url(../images/dcc_logo.png) no-repeat ;
	width:64px;
	height:64px;
	display:block;
	margin:0 auto 10px;
	position:relative;
	left:1px;

}
.logo a {
	display:block;
	height:100%;
}

.buttons {
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	z-index:2;
	font:bold 11px/13px Ubuntu, sans-serif;

}
.buttons li {
	vertical-align:top;
	margin:0 0 1px;
	position:relative;
}
.buttons a {
	vertical-align:top;
	background: #616a78;
	background: -moz-linear-gradient(top,  #515A67 0%, #343d4b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#616a78), color-stop(100%,#343d4b));
	background: -webkit-linear-gradient(top,  #616a78 0%,#343d4b 100%);
	background: -o-linear-gradient(top,  #616a78 0%,#343d4b 100%);
	background: -ms-linear-gradient(top,  #616a78 0%,#343d4b 100%);
	background: linear-gradient(to bottom,  #616a78 0%,#343d4b 100%);
	width:150px;
	height:40px;
	display:block;
	overflow:hidden;
	cursor:pointer;

}

.buttons a:hover { 
	background: linear-gradient(to bottom,  #67abd6 0%, #4a7fc2  100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#67abd6), color-stop(100%,#4a7fc2)); }
.buttons li.active a {
	background:url(../images/button-active.png) no-repeat -113px -2px;
	margin:0 -21px 0 0;
	padding:0 21px 0 0;
	
}
.buttons li.active a em {top:40px;}
.buttons a span {
    background: url("../images/icons-mono.png") no-repeat scroll 9999px 0 transparent;
    color: #FFFFFF;
    display: inline-block;
    height: 20px;
    margin: 11px 5px 0;
    overflow: hidden;
    text-indent: 22px;
    width: 150px;
}
.buttons em {
	position:absolute;
	right:0;
	top:0;
	background:url(../images/bg-shadow.png) repeat-y;
	width:4px;
	height:100%;
	overflow:hidden;
	text-indent: 20px;
}
.buttons .ico1 span {
	
	height:18px;
	background-position:0 0;
}
.buttons .active .ico1 span {background-position:0 -23px;}
.buttons .ico2 span {
	height:19px;
	background-position:-1px -47px;
}
.buttons .active .ico2 span {background-position:-2px -73px;}
.buttons .ico3 span {background-position:-2px -97px;}
.buttons .active .ico3 span {background-position:-2px -126px;}
.buttons .ico4 span {background-position:-2px -153px;}
.buttons .active .ico4 span {background-position:-2px -178px;}
.buttons .ico5 span {background-position:-1px -206px;}
.buttons .active .ico5 span {background-position:-2px -232px;}
.buttons .ico6 span {background-position:-2px -262px;}
.buttons .active .ico6 span {background-position:-3px -291px;}
.buttons .ico7 span {background-position:-4px -321px;}
.buttons .active .ico7 span {background-position:-4px -352px;}
.buttons .ico8 span {background-position:-4px -380px;}
.buttons .active .ico8 span {background-position:-4px -415px;}
.buttons li:hover .tooltip {display:block;}

.buttons .num {
	display:block;
	text-align:center;
	color:#fff;
	background: #950707;
	background: -moz-linear-gradient(top,  #950707 0%, #610202 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#950707), color-stop(100%,#610202));
	background: -webkit-linear-gradient(top,  #950707 0%,#610202 100%);
	background: -o-linear-gradient(top,  #950707 0%,#610202 100%);
	background: -ms-linear-gradient(top,  #950707 0%,#610202 100%);
	background: linear-gradient(to bottom,  #950707 0%,#610202 100%);
	border-top:2px solid #b01919;
}